ul {
    display: flex;
    padding: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

ul>div {
    z-index: 999999 !important;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 20px;
    background-color: #f4f8fc;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.categories {
    text-align: left;
    margin: 5px 0px;
    cursor: pointer;
}

.categories p {
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.categories h3{
    margin: 0px 30px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: underline;
}


.categories p:hover {
    color: black;
    font-weight: bold;
    font-size: 11.5px;
    text-decoration: underline;
}

.categories hr {
    width: 180px;
}




@media only screen and (min-width: 320px) and (max-width: 1300px) {
   
    ul{
        width: 600px;
        overflow: scroll;
    }
}
  /* Medium Screen */
@media only screen and (min-width: 320px) and (max-width: 1000px) {
    
    ul{
        width: 500px;
        overflow: scroll;
    }
    
  }


  /* Small Screen */
  @media only screen and (min-width: 320px) and (max-width: 699px) {
    
    .products {
        display: none;
    }
    
    ul{
        width: 400px;
        overflow: scroll;
    }
    

  }

  @media only screen and (min-width: 0px) and (max-width: 500px) {
   
    .products {
        display: none;
    }
    
    ul{
        width: 300px;
        overflow: scroll;
    }
}

